
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Flipbook</title>
</head>
<body>
    <div id="test">
        <div class="test">
            <div id="book"><div style="background:url(20221221042046_ชลบรี.jpg); background-size:100% 100%;"></div><div style="background:url(20221221042046_ที่เที่ยวราชบุรี.jpg); background-size:cover;"></div>
            </div>
        </div>
    </div>
    <script src="https://kit.fontawesome.com/97a4ddb345.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.2/jquery.min.js"></script>
    <script src="turn.js"></script>
    <script>
        $(document).ready(function(){
            // $('.open').click(function(){
            //     $('#test').css('display','block');
            //     $('#con').css('display','none');
            // });
            // $('#close').click(function(){
                // $('#test').css('display','none');
                // $('#con').css('display','flex');
            // });
            $('#qrcode').click(function(){
                $('#opqrcode').css('display','flex');
                $('#book').css('display','none');
                // $('.tools').css('display','none');
            });
        });
        $('#book').turn({gradient:true,acceleration:true});
    </script>
</body>
</html>